In [0]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt 
%matplotlib inline

In [0]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
# Autentica e cria o PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
#retira o dataset da pasta https://drive.google.com/drive/folders/12dd-jyWztulFMp6DS0yIdrOfMmhXE3oc?usp=sharing 

file_list = drive.ListFile({'q': "'12dd-jyWztulFMp6DS0yIdrOfMmhXE3oc' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: train.csv, id: 1R9gdoSaAaKCkjyzybWseVW_yBFSdKXyw
title: songs.csv, id: 1XRQsVa1FNPmbvH164JzQBlR_TJsAk3HW
title: song_extra_info.csv, id: 170e2VV0oCN1MWZ-I0wsiefo-n41ReBS-
title: members.csv, id: 1mNTVZrMwGnFPT_R0cGbfc842zN11d3eP

In [0]:
train_downloaded = drive.CreateFile({'id': '1R9gdoSaAaKCkjyzybWseVW_yBFSdKXyw'})
train_downloaded.GetContentFile('train.csv')
songs_downloaded = drive.CreateFile({'id': '1XRQsVa1FNPmbvH164JzQBlR_TJsAk3HW'})
songs_downloaded.GetContentFile('songs.csv')
song_extra_downloaded = drive.CreateFile({'id': '170e2VV0oCN1MWZ-I0wsiefo-n41ReBS-'})
song_extra_downloaded.GetContentFile('song_extra_info.csv')
members_downloaded = drive.CreateFile({'id': '1mNTVZrMwGnFPT_R0cGbfc842zN11d3eP'})
members_downloaded.GetContentFile('members.csv')

In [0]:
df = pd.read_csv("train.csv")

In [6]:
df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [0]:
df_songs = pd.read_csv("songs.csv")
df_songs_extra = pd.read_csv("song_extra_info.csv")
df_members = pd.read_csv("members.csv",parse_dates=["registration_init_time","expiration_date"])

In [0]:
#unindo informações do dataset "songs" e members

df =df.merge(df_songs,how="left",on="song_id")
df = df.merge(df_members,how="left",on="msno")

In [9]:
df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,2012-01-02,2017-10-05
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,2011-05-25,2017-09-11
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,NaN,52.0,13,24,female,9,2011-05-25,2017-09-11
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,1019,Soundway,Kwadwo Donkoh,NaN,-1.0,13,24,female,9,2011-05-25,2017-09-11
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,NaN,52.0,1,0,NaN,7,2012-01-02,2017-10-05

## Lidando com valores null

In [0]:
df['gender'].fillna(value="Unknown",inplace=True)

df['source_system_tab'].fillna(value="Unknown",inplace=True)

df['source_screen_name'].fillna(value="Unknown",inplace=True)

df['source_type'].fillna(value="Unknown",inplace=True)

df['genre_ids'].fillna(value="Unknown",inplace=True)

df['artist_name'].fillna(value="Unknown",inplace=True)

df['composer'].fillna(value="Unknown",inplace=True)

df['lyricist'].fillna(value="Unknown",inplace=True)

df['song_length'].fillna(value=df['song_length'].mean(),inplace=True)

df['language'].fillna(value=df['language'].mode()[0],inplace=True)

## IDS de Gênero

In [0]:
df['genre_ids'] = df['genre_ids'].str.split("|")

#Nova coluna
df['genre_count'] = df['genre_ids'].apply(lambda x : len(x) if "Unknown" not in x else 0)

## Artistas

In [12]:
df['artist_name'].nunique()

40583

In [13]:


df_artists = df.loc[:,["artist_name","target"]]
artists1 = df_artists.groupby(["artist_name"],as_index=False).sum().rename(columns={"target":"repeat_count"})
artists2 = df_artists.groupby(["artist_name"],as_index=False).count().rename(columns = {"target":"play_count"})



df_artist_repeats = artists1.merge(artists2,how="inner",on="artist_name")
df_artist_repeats.head()

                             artist_name  repeat_count  play_count
0                                  !Conz             1           1
1                               !magnic!             0           1
2                            #037 (#037)            20          84
3                         #1 Beatles Now             7          32
4  #1 Club Hits - Best Of Dance & Techno             5           7

In [14]:
df_artist_repeats["repeat_percentage"] = round((df_artist_repeats['repeat_count']*100) / df_artist_repeats['play_count'],1)
df_artist_repeats.head()

,artist_name,repeat_count,play_count,repeat_percentage
0,!Conz,1,1,100.0
1,!magnic!,0,1,0.0
2,#037 (#037),20,84,23.8
3,#1 Beatles Now,7,32,21.9
4,#1 Club Hits - Best Of Dance & Techno,5,7,71.4

In [0]:
df_artist_repeats.drop(["repeat_count","play_count"],axis=1,inplace=True)

df = df.merge(df_artist_repeats,on="artist_name",how="left").rename(columns={"repeat_percentage":"artist_repeat_percentage"})

df.drop(["genre_ids","artist_name"],axis=1,inplace=True)

del df_artist_repeats
del df_artists

## Composers

In [16]:
df['composer'] = df['composer'].str.split("|") 

df['composer_count'] = df['composer'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

df['source_system_tab'].value_counts()

my library      3684730
discover        2179252
search           623286
radio            476701
listen with      212266
explore          167949
Unknown           24849
notification       6185
settings           2200
Name: source_system_tab, dtype: int64

In [17]:
df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date,genre_count,artist_repeat_percentage,composer_count
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,"[Dan Smith, Mark Crew]",Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,1,46.3,2
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,[Unknown],Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1,51.0,0
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,[N. Jones、W. Adams、J. Lordan、D. Ingle],Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1,21.5,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,[Kwadwo Donkoh],Unknown,-1.0,13,24,female,9,2011-05-25,2017-09-11,1,100.0,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,"[Brett Young, Kelly Archer, Justin Ebach]",Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,1,37.7,3

## Tratamentos adicionais

In [0]:


source_tab_dict = {"my library":8,"discover":7,"search":6,"radio":5,"listen with":4,"explore":3,"notification":2,"settings":1,"Unknown":0 }
source_screen_name_dict = {"Local playlist more":19,"Online playlist more":18,"Radio":17,"Unknown":16,"Album more":15,"Search":14,"Artist more":13,"Discover Feature":12,"Discover Chart":11,"Others profile more":10,"Discover Genre":9,"My library":8,"Explore":7,"Discover New":6,"Search Trends":5,"Search Home":4,"My library_Search":3,"Self profile more":2,"Concert":1,"Payment":0}
source_type_dict = {"local-library":12,"online-playlist":11,"local-playlist":10,"radio":9,"album":8,"top-hits-for-artist":7,"song":6,"song-based-playlist":5,"listen-with":4,"Unknown":3,"topic-article-playlist":2,"artist":1,"my-daily-playlist":0}

df['source_system_tab'] = df['source_system_tab'].map(source_tab_dict)

df['source_type'] = df['source_type'].map(source_type_dict)

df['source_screen_name'] = df['source_screen_name'].map(source_screen_name_dict)

gender = pd.get_dummies(df['gender'],drop_first=True)

df = pd.concat([df,gender],axis=1)

df.drop(["composer","gender"],axis=1,inplace=True)

df['validity_days'] = (df['expiration_date'] - df['registration_init_time']).dt.days

df.drop(["registration_init_time","expiration_date"],axis=1,inplace=True)

df['lyricist'] = df['lyricist'].str.split("|")

df['lyricist_count'] = df['lyricist'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

df.drop("lyricist",axis=1,inplace=True)

df_songs_extra.drop("name",axis=1,inplace=True)

df = df.merge(df_songs_extra,how="left",on="song_id")

In [0]:
def isrc_to_year(isrc):
    if type(isrc) == str:
        if int(isrc[5:7]) > 17:
            return 1900 + int(isrc[5:7])
        else:
            return 2000 + int(isrc[5:7])
    else:
        return np.nan

In [0]:
df['song_year'] = df['isrc'].apply(isrc_to_year)

df.drop("isrc",axis=1,inplace=True)

df['song_year'].fillna(value=-1,inplace=True)

df['song_year'] = df['song_year'].astype("int")

In [0]:
df['source_system_tab'] = df['source_system_tab'].astype("category")

df['source_screen_name'] = df['source_screen_name'].astype("category")

df['source_type'] = df['source_type'].astype("category")

df['language'] = df['language'].astype("category")

df['city'] = df['city'].astype("category")


df['registered_via'] = df['registered_via'].astype("category")

In [0]:


#60% training 20% validation 20% test
df_train, df_validate, df_test = np.split(df.sample(frac=1), [int(.6*len(df)), int(.8*len(df))])

X = df_train.drop(["msno","song_id","target"],axis=1).values

y = df_train['target'].values

## Catboost

In [23]:
!pip install catboost
from catboost import CatBoostClassifier

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.9.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.11.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from catboost) (0.22.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.14.5)
Requirement already satisfied: enum34 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.6)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->catboost) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->catboost) (2018.5)

In [24]:
model = CatBoostClassifier(
    iterations=100, 
    learning_rate=0.5, 
    depth=12, 
    loss_function='Logloss',
    eval_metric='AUC',
    use_best_model=True,
    random_seed=1,
)


Xvalidate = df_validate.drop(["msno","song_id","target"],axis=1).values
yvalidate = df_validate['target'].values

model.fit(X,y, eval_set=(Xvalidate, yvalidate))

0:	test: 0.6802142	best: 0.6802142 (0)	total: 5.43s	remaining: 8m 57s
1:	test: 0.6849303	best: 0.6849303 (1)	total: 10.8s	remaining: 8m 51s
2:	test: 0.6869185	best: 0.6869185 (2)	total: 16.1s	remaining: 8m 40s
3:	test: 0.6886371	best: 0.6886371 (3)	total: 21.4s	remaining: 8m 32s
4:	test: 0.6908857	best: 0.6908857 (4)	total: 26.8s	remaining: 8m 30s
5:	test: 0.6919596	best: 0.6919596 (5)	total: 32.3s	remaining: 8m 25s
6:	test: 0.6943500	best: 0.6943500 (6)	total: 37.8s	remaining: 8m 21s
7:	test: 0.6953119	best: 0.6953119 (7)	total: 43.3s	remaining: 8m 17s
8:	test: 0.6961792	best: 0.6961792 (8)	total: 48.7s	remaining: 8m 12s
9:	test: 0.6969091	best: 0.6969091 (9)	total: 54.4s	remaining: 8m 9s
10:	test: 0.6979498	best: 0.6979498 (10)	total: 1m	remaining: 8m 6s
11:	test: 0.6986373	best: 0.6986373 (11)	total: 1m 5s	remaining: 8m 1s
12:	test: 0.7000337	best: 0.7000337 (12)	total: 1m 11s	remaining: 7m 57s
13:	test: 0.7004664	best: 0.7004664 (13)	total: 1m 16s	remaining: 7m 51s
14:	test: 0.7010302	best: 0.7010302 (14)	total: 1m 21s	remaining: 7m 44s
15:	test: 0.7017061	best: 0.7017061 (15)	total: 1m 27s	remaining: 7m 38s
16:	test: 0.7023113	best: 0.7023113 (16)	total: 1m 32s	remaining: 7m 32s
17:	test: 0.7026752	best: 0.7026752 (17)	total: 1m 38s	remaining: 7m 26s
18:	test: 0.7046051	best: 0.7046051 (18)	total: 1m 43s	remaining: 7m 21s
19:	test: 0.7057894	best: 0.7057894 (19)	total: 1m 49s	remaining: 7m 16s
20:	test: 0.7059658	best: 0.7059658 (20)	total: 1m 54s	remaining: 7m 11s
21:	test: 0.7062585	best: 0.7062585 (21)	total: 2m	remaining: 7m 5s
22:	test: 0.7075748	best: 0.7075748 (22)	total: 2m 5s	remaining: 7m
23:	test: 0.7085439	best: 0.7085439 (23)	total: 2m 10s	remaining: 6m 54s
24:	test: 0.7090929	best: 0.7090929 (24)	total: 2m 16s	remaining: 6m 48s
25:	test: 0.7095626	best: 0.7095626 (25)	total: 2m 21s	remaining: 6m 43s
26:	test: 0.7100622	best: 0.7100622 (26)	total: 2m 26s	remaining: 6m 37s
27:	test: 0.7103584	best: 0.7103584 (27)	total: 2m 32s	remaining: 6m 31s
28:	test: 0.7111142	best: 0.7111142 (28)	total: 2m 37s	remaining: 6m 26s
29:	test: 0.7128754	best: 0.7128754 (29)	total: 2m 43s	remaining: 6m 20s
30:	test: 0.7132529	best: 0.7132529 (30)	total: 2m 48s	remaining: 6m 15s
31:	test: 0.7140474	best: 0.7140474 (31)	total: 2m 54s	remaining: 6m 9s
32:	test: 0.7149250	best: 0.7149250 (32)	total: 2m 59s	remaining: 6m 4s
33:	test: 0.7155764	best: 0.7155764 (33)	total: 3m 5s	remaining: 5m 59s
34:	test: 0.7159698	best: 0.7159698 (34)	total: 3m 10s	remaining: 5m 53s
35:	test: 0.7170274	best: 0.7170274 (35)	total: 3m 16s	remaining: 5m 48s
36:	test: 0.7172984	best: 0.7172984 (36)	total: 3m 21s	remaining: 5m 43s
37:	test: 0.7177467	best: 0.7177467 (37)	total: 3m 26s	remaining: 5m 37s
38:	test: 0.7180389	best: 0.7180389 (38)	total: 3m 32s	remaining: 5m 32s
39:	test: 0.7181430	best: 0.7181430 (39)	total: 3m 37s	remaining: 5m 26s
40:	test: 0.7184765	best: 0.7184765 (40)	total: 3m 43s	remaining: 5m 21s
41:	test: 0.7187786	best: 0.7187786 (41)	total: 3m 48s	remaining: 5m 15s
42:	test: 0.7189751	best: 0.7189751 (42)	total: 3m 54s	remaining: 5m 10s
43:	test: 0.7199887	best: 0.7199887 (43)	total: 3m 59s	remaining: 5m 4s
44:	test: 0.7210991	best: 0.7210991 (44)	total: 4m 4s	remaining: 4m 59s
45:	test: 0.7216633	best: 0.7216633 (45)	total: 4m 10s	remaining: 4m 53s
46:	test: 0.7219259	best: 0.7219259 (46)	total: 4m 15s	remaining: 4m 48s
47:	test: 0.7228750	best: 0.7228750 (47)	total: 4m 21s	remaining: 4m 43s
48:	test: 0.7229591	best: 0.7229591 (48)	total: 4m 26s	remaining: 4m 37s
49:	test: 0.7230334	best: 0.7230334 (49)	total: 4m 32s	remaining: 4m 32s
50:	test: 0.7232472	best: 0.7232472 (50)	total: 4m 37s	remaining: 4m 26s
51:	test: 0.7235344	best: 0.7235344 (51)	total: 4m 42s	remaining: 4m 21s
52:	test: 0.7237397	best: 0.7237397 (52)	total: 4m 48s	remaining: 4m 15s
53:	test: 0.7247128	best: 0.7247128 (53)	total: 4m 53s	remaining: 4m 10s
54:	test: 0.7248193	best: 0.7248193 (54)	total: 4m 59s	remaining: 4m 4s
55:	test: 0.7252508	best: 0.7252508 (55)	total: 5m 4s	remaining: 3m 59s
56:	test: 0.7260331	best: 0.7260331 (56)	total: 5m 10s	remaining: 3m 53s
57:	test: 0.7261345	best: 0.7261345 (57)	total: 5m 15s	remaining: 3m 48s
58:	test: 0.7264144	best: 0.7264144 (58)	total: 5m 21s	remaining: 3m 43s
59:	test: 0.7268534	best: 0.7268534 (59)	total: 5m 26s	remaining: 3m 37s
60:	test: 0.7269720	best: 0.7269720 (60)	total: 5m 31s	remaining: 3m 32s
61:	test: 0.7270479	best: 0.7270479 (61)	total: 5m 37s	remaining: 3m 26s
62:	test: 0.7272535	best: 0.7272535 (62)	total: 5m 42s	remaining: 3m 21s
63:	test: 0.7274063	best: 0.7274063 (63)	total: 5m 48s	remaining: 3m 15s
64:	test: 0.7278032	best: 0.7278032 (64)	total: 5m 53s	remaining: 3m 10s
65:	test: 0.7279159	best: 0.7279159 (65)	total: 5m 58s	remaining: 3m 4s
66:	test: 0.7279998	best: 0.7279998 (66)	total: 6m 4s	remaining: 2m 59s
67:	test: 0.7282775	best: 0.7282775 (67)	total: 6m 10s	remaining: 2m 54s
68:	test: 0.7283881	best: 0.7283881 (68)	total: 6m 15s	remaining: 2m 48s
69:	test: 0.7285662	best: 0.7285662 (69)	total: 6m 21s	remaining: 2m 43s
70:	test: 0.7291964	best: 0.7291964 (70)	total: 6m 26s	remaining: 2m 38s
71:	test: 0.7293872	best: 0.7293872 (71)	total: 6m 32s	remaining: 2m 32s
72:	test: 0.7296292	best: 0.7296292 (72)	total: 6m 37s	remaining: 2m 27s
73:	test: 0.7296837	best: 0.7296837 (73)	total: 6m 43s	remaining: 2m 21s
74:	test: 0.7301150	best: 0.7301150 (74)	total: 6m 48s	remaining: 2m 16s
75:	test: 0.7301607	best: 0.7301607 (75)	total: 6m 54s	remaining: 2m 10s
76:	test: 0.7302728	best: 0.7302728 (76)	total: 6m 59s	remaining: 2m 5s
77:	test: 0.7307115	best: 0.7307115 (77)	total: 7m 5s	remaining: 1m 59s
78:	test: 0.7308296	best: 0.7308296 (78)	total: 7m 10s	remaining: 1m 54s
79:	test: 0.7313676	best: 0.7313676 (79)	total: 7m 15s	remaining: 1m 48s
80:	test: 0.7316172	best: 0.7316172 (80)	total: 7m 21s	remaining: 1m 43s
81:	test: 0.7319782	best: 0.7319782 (81)	total: 7m 26s	remaining: 1m 38s
82:	test: 0.7320444	best: 0.7320444 (82)	total: 7m 32s	remaining: 1m 32s
83:	test: 0.7321826	best: 0.7321826 (83)	total: 7m 37s	remaining: 1m 27s
84:	test: 0.7322069	best: 0.7322069 (84)	total: 7m 43s	remaining: 1m 21s
85:	test: 0.7323048	best: 0.7323048 (85)	total: 7m 48s	remaining: 1m 16s
86:	test: 0.7328229	best: 0.7328229 (86)	total: 7m 54s	remaining: 1m 10s
87:	test: 0.7329239	best: 0.7329239 (87)	total: 7m 59s	remaining: 1m 5s
88:	test: 0.7329921	best: 0.7329921 (88)	total: 8m 5s	remaining: 60s
89:	test: 0.7332167	best: 0.7332167 (89)	total: 8m 10s	remaining: 54.5s
90:	test: 0.7334154	best: 0.7334154 (90)	total: 8m 16s	remaining: 49.1s
91:	test: 0.7336037	best: 0.7336037 (91)	total: 8m 21s	remaining: 43.6s
92:	test: 0.7340225	best: 0.7340225 (92)	total: 8m 27s	remaining: 38.2s
93:	test: 0.7346357	best: 0.7346357 (93)	total: 8m 32s	remaining: 32.7s
94:	test: 0.7349061	best: 0.7349061 (94)	total: 8m 38s	remaining: 27.3s
95:	test: 0.7349236	best: 0.7349236 (95)	total: 8m 43s	remaining: 21.8s
96:	test: 0.7352188	best: 0.7352188 (96)	total: 8m 49s	remaining: 16.4s
97:	test: 0.7353520	best: 0.7353520 (97)	total: 8m 54s	remaining: 10.9s
98:	test: 0.7357516	best: 0.7357516 (98)	total: 9m	remaining: 5.46s
99:	test: 0.7359907	best: 0.7359907 (99)	total: 9m 5s	remaining: 0us

bestTest = 0.7359906578
bestIteration = 99

Shrink model to first 100 iterations.

In [0]:
X_test = df_test.drop(["msno","song_id","target"],axis=1).values

y_preds = model.predict(X_test)

In [26]:
y_test = df_test['target'].values


from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_preds)

0.6734402835328689

In [41]:
for i in range(20):
  print("Predicted=%i, True Value=%i" % (y_preds[i], y_test[i]))

Predicted=0, True Value=0
Predicted=1, True Value=1
Predicted=0, True Value=1
Predicted=1, True Value=0
Predicted=1, True Value=1
Predicted=1, True Value=1
Predicted=0, True Value=1
Predicted=1, True Value=0
Predicted=1, True Value=1
Predicted=1, True Value=0
Predicted=0, True Value=0
Predicted=1, True Value=1
Predicted=1, True Value=1
Predicted=0, True Value=1
Predicted=0, True Value=0
Predicted=1, True Value=0
Predicted=1, True Value=1
Predicted=0, True Value=1
Predicted=1, True Value=1
Predicted=1, True Value=1