In [0]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt 
%matplotlib inline

In [0]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
# Autentica e cria o PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
#retira o dataset da pasta https://drive.google.com/drive/folders/12dd-jyWztulFMp6DS0yIdrOfMmhXE3oc?usp=sharing 

file_list = drive.ListFile({'q': "'12dd-jyWztulFMp6DS0yIdrOfMmhXE3oc' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: train.csv, id: 1R9gdoSaAaKCkjyzybWseVW_yBFSdKXyw
title: songs.csv, id: 1XRQsVa1FNPmbvH164JzQBlR_TJsAk3HW
title: song_extra_info.csv, id: 170e2VV0oCN1MWZ-I0wsiefo-n41ReBS-
title: members.csv, id: 1mNTVZrMwGnFPT_R0cGbfc842zN11d3eP

In [0]:
train_downloaded = drive.CreateFile({'id': '1R9gdoSaAaKCkjyzybWseVW_yBFSdKXyw'})
train_downloaded.GetContentFile('train.csv')
songs_downloaded = drive.CreateFile({'id': '1XRQsVa1FNPmbvH164JzQBlR_TJsAk3HW'})
songs_downloaded.GetContentFile('songs.csv')
song_extra_downloaded = drive.CreateFile({'id': '170e2VV0oCN1MWZ-I0wsiefo-n41ReBS-'})
song_extra_downloaded.GetContentFile('song_extra_info.csv')
members_downloaded = drive.CreateFile({'id': '1mNTVZrMwGnFPT_R0cGbfc842zN11d3eP'})
members_downloaded.GetContentFile('members.csv')

In [0]:
df = pd.read_csv("train.csv")

In [6]:
df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [0]:
df_songs = pd.read_csv("songs.csv")
df_songs_extra = pd.read_csv("song_extra_info.csv")
df_members = pd.read_csv("members.csv",parse_dates=["registration_init_time","expiration_date"])

In [0]:
#unindo informações do dataset "songs" e members

df =df.merge(df_songs,how="left",on="song_id")
df = df.merge(df_members,how="left",on="msno")

In [9]:
df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,2012-01-02,2017-10-05
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,1259,Various Artists,NaN,NaN,52.0,13,24,female,9,2011-05-25,2017-09-11
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,1259,Nas,N. Jones、W. Adams、J. Lordan、D. Ingle,NaN,52.0,13,24,female,9,2011-05-25,2017-09-11
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,1019,Soundway,Kwadwo Donkoh,NaN,-1.0,13,24,female,9,2011-05-25,2017-09-11
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,NaN,52.0,1,0,NaN,7,2012-01-02,2017-10-05

## Lidando com valores null

In [0]:
df['gender'].fillna(value="Unknown",inplace=True)

df['source_system_tab'].fillna(value="Unknown",inplace=True)

df['source_screen_name'].fillna(value="Unknown",inplace=True)

df['source_type'].fillna(value="Unknown",inplace=True)

df['genre_ids'].fillna(value="Unknown",inplace=True)

df['artist_name'].fillna(value="Unknown",inplace=True)

df['composer'].fillna(value="Unknown",inplace=True)

df['lyricist'].fillna(value="Unknown",inplace=True)

df['song_length'].fillna(value=df['song_length'].mean(),inplace=True)

df['language'].fillna(value=df['language'].mode()[0],inplace=True)

## IDS de Gênero

In [0]:
df['genre_ids'] = df['genre_ids'].str.split("|")

#Nova coluna
df['genre_count'] = df['genre_ids'].apply(lambda x : len(x) if "Unknown" not in x else 0)

## Artistas

In [12]:
df['artist_name'].nunique()

40583

In [13]:


df_artists = df.loc[:,["artist_name","target"]]
artists1 = df_artists.groupby(["artist_name"],as_index=False).sum().rename(columns={"target":"repeat_count"})
artists2 = df_artists.groupby(["artist_name"],as_index=False).count().rename(columns = {"target":"play_count"})



df_artist_repeats = artists1.merge(artists2,how="inner",on="artist_name")
df_artist_repeats.head()

                             artist_name  repeat_count  play_count
0                                  !Conz             1           1
1                               !magnic!             0           1
2                            #037 (#037)            20          84
3                         #1 Beatles Now             7          32
4  #1 Club Hits - Best Of Dance & Techno             5           7

In [14]:
df_artist_repeats["repeat_percentage"] = round((df_artist_repeats['repeat_count']*100) / df_artist_repeats['play_count'],1)
df_artist_repeats.head()

,artist_name,repeat_count,play_count,repeat_percentage
0,!Conz,1,1,100.0
1,!magnic!,0,1,0.0
2,#037 (#037),20,84,23.8
3,#1 Beatles Now,7,32,21.9
4,#1 Club Hits - Best Of Dance & Techno,5,7,71.4

In [0]:
df_artist_repeats.drop(["repeat_count","play_count"],axis=1,inplace=True)

df = df.merge(df_artist_repeats,on="artist_name",how="left").rename(columns={"repeat_percentage":"artist_repeat_percentage"})

df.drop(["genre_ids","artist_name"],axis=1,inplace=True)

del df_artist_repeats
del df_artists

## Composers

In [16]:
df['composer'] = df['composer'].str.split("|") 

df['composer_count'] = df['composer'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

df['source_system_tab'].value_counts()

my library      3684730
discover        2179252
search           623286
radio            476701
listen with      212266
explore          167949
Unknown           24849
notification       6185
settings           2200
Name: source_system_tab, dtype: int64

In [17]:
df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,song_length,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date,genre_count,artist_repeat_percentage,composer_count
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,206471.0,"[Dan Smith, Mark Crew]",Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,1,46.3,2
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,284584.0,[Unknown],Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1,51.0,0
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,225396.0,[N. Jones、W. Adams、J. Lordan、D. Ingle],Unknown,52.0,13,24,female,9,2011-05-25,2017-09-11,1,21.5,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,255512.0,[Kwadwo Donkoh],Unknown,-1.0,13,24,female,9,2011-05-25,2017-09-11,1,100.0,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,187802.0,"[Brett Young, Kelly Archer, Justin Ebach]",Unknown,52.0,1,0,Unknown,7,2012-01-02,2017-10-05,1,37.7,3

## Tratamentos adicionais

In [0]:


source_tab_dict = {"my library":8,"discover":7,"search":6,"radio":5,"listen with":4,"explore":3,"notification":2,"settings":1,"Unknown":0 }
source_screen_name_dict = {"Local playlist more":19,"Online playlist more":18,"Radio":17,"Unknown":16,"Album more":15,"Search":14,"Artist more":13,"Discover Feature":12,"Discover Chart":11,"Others profile more":10,"Discover Genre":9,"My library":8,"Explore":7,"Discover New":6,"Search Trends":5,"Search Home":4,"My library_Search":3,"Self profile more":2,"Concert":1,"Payment":0}
source_type_dict = {"local-library":12,"online-playlist":11,"local-playlist":10,"radio":9,"album":8,"top-hits-for-artist":7,"song":6,"song-based-playlist":5,"listen-with":4,"Unknown":3,"topic-article-playlist":2,"artist":1,"my-daily-playlist":0}

df['source_system_tab'] = df['source_system_tab'].map(source_tab_dict)

df['source_type'] = df['source_type'].map(source_type_dict)

df['source_screen_name'] = df['source_screen_name'].map(source_screen_name_dict)

gender = pd.get_dummies(df['gender'],drop_first=True)

df = pd.concat([df,gender],axis=1)

df.drop(["composer","gender"],axis=1,inplace=True)

df['validity_days'] = (df['expiration_date'] - df['registration_init_time']).dt.days

df.drop(["registration_init_time","expiration_date"],axis=1,inplace=True)

df['lyricist'] = df['lyricist'].str.split("|")

df['lyricist_count'] = df['lyricist'].apply(lambda x : len(x) if "Unknown" not in x else 0 )

df.drop("lyricist",axis=1,inplace=True)

df_songs_extra.drop("name",axis=1,inplace=True)

df = df.merge(df_songs_extra,how="left",on="song_id")

In [0]:
def isrc_to_year(isrc):
    if type(isrc) == str:
        if int(isrc[5:7]) > 17:
            return 1900 + int(isrc[5:7])
        else:
            return 2000 + int(isrc[5:7])
    else:
        return np.nan

In [0]:
df['song_year'] = df['isrc'].apply(isrc_to_year)

df.drop("isrc",axis=1,inplace=True)

df['song_year'].fillna(value=-1,inplace=True)

df['song_year'] = df['song_year'].astype("int")

In [0]:
df['source_system_tab'] = df['source_system_tab'].astype("category")

df['source_screen_name'] = df['source_screen_name'].astype("category")

df['source_type'] = df['source_type'].astype("category")

df['language'] = df['language'].astype("category")

df['city'] = df['city'].astype("category")


df['registered_via'] = df['registered_via'].astype("category")

In [0]:


#60% training 20% validation 20% test
df_train, df_validate, df_test = np.split(df.sample(frac=1), [int(.6*len(df)), int(.8*len(df))])

X = df_train.drop(["msno","song_id","target"],axis=1).values

y = df_train['target'].values

## Catboost

In [23]:
!pip install catboost
from catboost import CatBoostClassifier

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/4a/fd/063d095a42a3eb75cbb026bc5da0210dcd03b9a0fc8b2be4067e8557fe7d/catboost-0.9.1.1-cp36-none-manylinux1_x86_64.whl (53.0MB)
    100% |████████████████████████████████| 53.0MB 718kB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.14.5)
Collecting enum34 (from catboost)
  Downloading https://files.pythonhosted.org/packages/af/42/cb9355df32c69b553e72a2e28daee25d1611d2c0d9c272aa1d34204205b2/enum34-1.1.6-py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.11.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from catboost) (0.22.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->catboost) (2018.5)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->catboost) (2.5.3)
Installing collected packages: enum34, catboost
Successfully installed catboost-0.9.1.1 enum34-1.1.6

In [24]:
model = CatBoostClassifier(
    iterations=100, 
    learning_rate=0.5, 
    depth=12, 
    loss_function='Logloss',
    eval_metric='AUC',
    use_best_model=True,
    random_seed=1,
)


Xvalidate = df_validate.drop(["msno","song_id","target"],axis=1).values
yvalidate = df_validate['target'].values

model.fit(X,y, eval_set=(Xvalidate, yvalidate)) 


#params = {}
#params['learning_rate'] = 0.5
#params['application'] = 'binary'
#params['max_depth'] = 12
#params['num_leaves'] = 2**6
#params['verbosity'] = 0
#params['metric'] = 'auc'

0:	test: 0.6805754	best: 0.6805754 (0)	total: 5.53s	remaining: 9m 7s
1:	test: 0.6850947	best: 0.6850947 (1)	total: 11s	remaining: 8m 59s
2:	test: 0.6869394	best: 0.6869394 (2)	total: 16.4s	remaining: 8m 48s
3:	test: 0.6884026	best: 0.6884026 (3)	total: 21.9s	remaining: 8m 45s
4:	test: 0.6897916	best: 0.6897916 (4)	total: 27.4s	remaining: 8m 41s
5:	test: 0.6910087	best: 0.6910087 (5)	total: 33s	remaining: 8m 37s
6:	test: 0.6921527	best: 0.6921527 (6)	total: 38.6s	remaining: 8m 32s
7:	test: 0.6948584	best: 0.6948584 (7)	total: 44.1s	remaining: 8m 27s
8:	test: 0.6955783	best: 0.6955783 (8)	total: 49.6s	remaining: 8m 21s
9:	test: 0.6967282	best: 0.6967282 (9)	total: 55.2s	remaining: 8m 16s
10:	test: 0.6989597	best: 0.6989597 (10)	total: 1m	remaining: 8m 13s
11:	test: 0.6998559	best: 0.6998559 (11)	total: 1m 6s	remaining: 8m 9s
12:	test: 0.7013861	best: 0.7013861 (12)	total: 1m 12s	remaining: 8m 3s
13:	test: 0.7016873	best: 0.7016873 (13)	total: 1m 17s	remaining: 7m 57s
14:	test: 0.7028458	best: 0.7028458 (14)	total: 1m 23s	remaining: 7m 51s
15:	test: 0.7034381	best: 0.7034381 (15)	total: 1m 29s	remaining: 7m 47s
16:	test: 0.7046622	best: 0.7046622 (16)	total: 1m 34s	remaining: 7m 42s
17:	test: 0.7052753	best: 0.7052753 (17)	total: 1m 40s	remaining: 7m 37s
18:	test: 0.7056242	best: 0.7056242 (18)	total: 1m 45s	remaining: 7m 31s
19:	test: 0.7068765	best: 0.7068765 (19)	total: 1m 51s	remaining: 7m 26s
20:	test: 0.7076243	best: 0.7076243 (20)	total: 1m 57s	remaining: 7m 20s
21:	test: 0.7079482	best: 0.7079482 (21)	total: 2m 2s	remaining: 7m 15s
22:	test: 0.7083645	best: 0.7083645 (22)	total: 2m 8s	remaining: 7m 9s
23:	test: 0.7086888	best: 0.7086888 (23)	total: 2m 13s	remaining: 7m 3s
24:	test: 0.7096048	best: 0.7096048 (24)	total: 2m 19s	remaining: 6m 57s
25:	test: 0.7114907	best: 0.7114907 (25)	total: 2m 24s	remaining: 6m 52s
26:	test: 0.7123977	best: 0.7123977 (26)	total: 2m 30s	remaining: 6m 47s
27:	test: 0.7132472	best: 0.7132472 (27)	total: 2m 36s	remaining: 6m 41s
28:	test: 0.7138780	best: 0.7138780 (28)	total: 2m 41s	remaining: 6m 36s
29:	test: 0.7140589	best: 0.7140589 (29)	total: 2m 47s	remaining: 6m 30s
30:	test: 0.7144818	best: 0.7144818 (30)	total: 2m 52s	remaining: 6m 24s
31:	test: 0.7149433	best: 0.7149433 (31)	total: 2m 58s	remaining: 6m 19s
32:	test: 0.7158563	best: 0.7158563 (32)	total: 3m 4s	remaining: 6m 14s
33:	test: 0.7163478	best: 0.7163478 (33)	total: 3m 9s	remaining: 6m 8s
34:	test: 0.7172067	best: 0.7172067 (34)	total: 3m 15s	remaining: 6m 3s
35:	test: 0.7181101	best: 0.7181101 (35)	total: 3m 21s	remaining: 5m 57s
36:	test: 0.7185583	best: 0.7185583 (36)	total: 3m 26s	remaining: 5m 52s
37:	test: 0.7189264	best: 0.7189264 (37)	total: 3m 32s	remaining: 5m 46s
38:	test: 0.7194082	best: 0.7194082 (38)	total: 3m 38s	remaining: 5m 41s
39:	test: 0.7197206	best: 0.7197206 (39)	total: 3m 43s	remaining: 5m 35s
40:	test: 0.7198968	best: 0.7198968 (40)	total: 3m 49s	remaining: 5m 30s
41:	test: 0.7209431	best: 0.7209431 (41)	total: 3m 55s	remaining: 5m 24s
42:	test: 0.7210859	best: 0.7210859 (42)	total: 4m	remaining: 5m 19s
43:	test: 0.7214243	best: 0.7214243 (43)	total: 4m 6s	remaining: 5m 13s
44:	test: 0.7215049	best: 0.7215049 (44)	total: 4m 11s	remaining: 5m 7s
45:	test: 0.7219382	best: 0.7219382 (45)	total: 4m 17s	remaining: 5m 2s
46:	test: 0.7227821	best: 0.7227821 (46)	total: 4m 23s	remaining: 4m 56s
47:	test: 0.7228328	best: 0.7228328 (47)	total: 4m 28s	remaining: 4m 51s
48:	test: 0.7234105	best: 0.7234105 (48)	total: 4m 34s	remaining: 4m 45s
49:	test: 0.7240149	best: 0.7240149 (49)	total: 4m 39s	remaining: 4m 39s
50:	test: 0.7248747	best: 0.7248747 (50)	total: 4m 45s	remaining: 4m 34s
51:	test: 0.7250159	best: 0.7250159 (51)	total: 4m 51s	remaining: 4m 28s
52:	test: 0.7251390	best: 0.7251390 (52)	total: 4m 56s	remaining: 4m 23s
53:	test: 0.7253912	best: 0.7253912 (53)	total: 5m 2s	remaining: 4m 17s
54:	test: 0.7254600	best: 0.7254600 (54)	total: 5m 8s	remaining: 4m 12s
55:	test: 0.7256067	best: 0.7256067 (55)	total: 5m 13s	remaining: 4m 6s
56:	test: 0.7259264	best: 0.7259264 (56)	total: 5m 19s	remaining: 4m
57:	test: 0.7260421	best: 0.7260421 (57)	total: 5m 24s	remaining: 3m 55s
58:	test: 0.7261380	best: 0.7261380 (58)	total: 5m 30s	remaining: 3m 49s
59:	test: 0.7264568	best: 0.7264568 (59)	total: 5m 36s	remaining: 3m 44s
60:	test: 0.7264996	best: 0.7264996 (60)	total: 5m 41s	remaining: 3m 38s
61:	test: 0.7267942	best: 0.7267942 (61)	total: 5m 47s	remaining: 3m 32s
62:	test: 0.7268718	best: 0.7268718 (62)	total: 5m 52s	remaining: 3m 27s
63:	test: 0.7270932	best: 0.7270932 (63)	total: 5m 58s	remaining: 3m 21s
64:	test: 0.7272514	best: 0.7272514 (64)	total: 6m 3s	remaining: 3m 15s
65:	test: 0.7275470	best: 0.7275470 (65)	total: 6m 9s	remaining: 3m 10s
66:	test: 0.7276673	best: 0.7276673 (66)	total: 6m 15s	remaining: 3m 4s
67:	test: 0.7279211	best: 0.7279211 (67)	total: 6m 20s	remaining: 2m 59s
68:	test: 0.7280556	best: 0.7280556 (68)	total: 6m 26s	remaining: 2m 53s
69:	test: 0.7281346	best: 0.7281346 (69)	total: 6m 31s	remaining: 2m 47s
70:	test: 0.7283089	best: 0.7283089 (70)	total: 6m 37s	remaining: 2m 42s
71:	test: 0.7284022	best: 0.7284022 (71)	total: 6m 43s	remaining: 2m 36s
72:	test: 0.7284496	best: 0.7284496 (72)	total: 6m 48s	remaining: 2m 31s
73:	test: 0.7285068	best: 0.7285068 (73)	total: 6m 54s	remaining: 2m 25s
74:	test: 0.7293053	best: 0.7293053 (74)	total: 6m 59s	remaining: 2m 19s
75:	test: 0.7299502	best: 0.7299502 (75)	total: 7m 5s	remaining: 2m 14s
76:	test: 0.7303723	best: 0.7303723 (76)	total: 7m 11s	remaining: 2m 8s
77:	test: 0.7305183	best: 0.7305183 (77)	total: 7m 16s	remaining: 2m 3s
78:	test: 0.7307387	best: 0.7307387 (78)	total: 7m 22s	remaining: 1m 57s
79:	test: 0.7307876	best: 0.7307876 (79)	total: 7m 28s	remaining: 1m 52s
80:	test: 0.7309797	best: 0.7309797 (80)	total: 7m 33s	remaining: 1m 46s
81:	test: 0.7315780	best: 0.7315780 (81)	total: 7m 39s	remaining: 1m 40s
82:	test: 0.7320497	best: 0.7320497 (82)	total: 7m 45s	remaining: 1m 35s
83:	test: 0.7326286	best: 0.7326286 (83)	total: 7m 50s	remaining: 1m 29s
84:	test: 0.7327693	best: 0.7327693 (84)	total: 7m 56s	remaining: 1m 24s
85:	test: 0.7330064	best: 0.7330064 (85)	total: 8m 2s	remaining: 1m 18s
86:	test: 0.7331230	best: 0.7331230 (86)	total: 8m 7s	remaining: 1m 12s
87:	test: 0.7334516	best: 0.7334516 (87)	total: 8m 13s	remaining: 1m 7s
88:	test: 0.7335731	best: 0.7335731 (88)	total: 8m 19s	remaining: 1m 1s
89:	test: 0.7338712	best: 0.7338712 (89)	total: 8m 24s	remaining: 56.1s
90:	test: 0.7339927	best: 0.7339927 (90)	total: 8m 30s	remaining: 50.5s
91:	test: 0.7340386	best: 0.7340386 (91)	total: 8m 35s	remaining: 44.9s
92:	test: 0.7345010	best: 0.7345010 (92)	total: 8m 41s	remaining: 39.2s
93:	test: 0.7347454	best: 0.7347454 (93)	total: 8m 46s	remaining: 33.6s
94:	test: 0.7348067	best: 0.7348067 (94)	total: 8m 52s	remaining: 28s
95:	test: 0.7351003	best: 0.7351003 (95)	total: 8m 58s	remaining: 22.4s
96:	test: 0.7353184	best: 0.7353184 (96)	total: 9m 3s	remaining: 16.8s
97:	test: 0.7355400	best: 0.7355400 (97)	total: 9m 9s	remaining: 11.2s
98:	test: 0.7359049	best: 0.7359049 (98)	total: 9m 14s	remaining: 5.61s
99:	test: 0.7361048	best: 0.7361048 (99)	total: 9m 20s	remaining: 0us

bestTest = 0.736104836
bestIteration = 99

Shrink model to first 100 iterations.

In [0]:
X_test = df_test.drop(["msno","song_id","target"],axis=1).values

y_preds = model.predict(X_test)

In [26]:
y_test = df_test['target'].values


from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, y_preds)

0.6736123630440292